body {
  background-color: ;
}

#timespan {
  display: none;
}

#timezone {
  display: none;
}

#countdown-units {
  display: none;
}

#seconds {
  display: none;
}

#milliseconds {
  display: none;
}